<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
  <!-- font awesome  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
  <script src="https://use.fontawesome.com/20ab91acc4.js"></script>

  <!-- owl carousel  -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  />
  <!-- flickity -->
  <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>

  <!-- Logo  -->
  <link rel="icon" href="/images/ico.png" type="image/ico" sizes="16x10"/>
 <link rel="stylesheet" href="https://demo.voidcoders.com/htmldemo/fitgear/main-files/assets/css/animate.css">
  <!-- css of current page  -->
  <link rel="stylesheet" href="/css/<%= typeof page !== 'undefined' ? page : '' %>.css">
  <!-- navbar css  -->
  <link rel="stylesheet" href="/css/nav.css">
  <title>Digital Transformation Consulting | Customer Experience Transformation</title>
</head>
<body>
    <section id="navigation">

        <nav class="navbar navbar-expand-lg smart-scroll navbar-dark bg-primary">
            <div class="container-fluid">

              <a class="navbar-brand" href="/"><img src="images/logo.png" alt="" height="40"></a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
              <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Solutions  </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"> Cloud Transformation </a></li>
                          <li><a class="dropdown-item" href="#"> Intelligent Enterprise </a></li>
                          <li><a class="dropdown-item" href="#"> Platform and Product Engineering </a></li>
                          <li><a class="dropdown-item" href="#"> Technology & Advisory </a></li>
                          <li><a class="dropdown-item" href="#"> Design & Consulting </a></li>
                          <li><a class="dropdown-item" href="#"> Customer Engagement </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Services  </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/services"> Digital Infrastructure</a></li>
                          <li><a class="dropdown-item" href="#"> Big Data & Analytics </a></li>
                          <li><a class="dropdown-item" href="#"> Product Engineering </a></li>
                          <li><a class="dropdown-item" href="#"> Advance Technology Group </a></li>
                          <li><a class="dropdown-item" href="#"> Digital Experience </a></li>
                          <li><a class="dropdown-item" href="#"> Customer Engagement </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Alliances  </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"> AWS</a></li>
                          <li><a class="dropdown-item" href="#"> Microsoft </a></li>
                          <li><a class="dropdown-item" href="#"> Salesforce </a></li>
                          <li><a class="dropdown-item" href="#"> Mulesoft </a></li>
                          <li><a class="dropdown-item" href="#"> Adobe </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Insights </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Thought Leadership</a></li>
                          <li><a class="dropdown-item" href="#"> Blogs </a></li>
                          <li><a class="dropdown-item" href="#"> Webinars </a></li>
                          <li><a class="dropdown-item" href="#"> Case Studies </a></li>
                          <li><a class="dropdown-item" href="#"> Media Center </a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"> Culture </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> About us </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/about"> Who we are?</a></li>
                          <li><a class="dropdown-item" href="#"> CEO's Office </a></li>
                          <li><a class="dropdown-item" href="#"> Awards </a></li>
                          <li><a class="dropdown-item" href="#"> Our Offices </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Careers </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"> Current Openings </a></li>
                          <li><a class="dropdown-item" href="#"> H-1B - LCA Postings </a></li>
                        </ul>
                    </li>

                </ul>
              </div> 
            </nav>
    </section>
    